<div class="tweet">
    <div class="user">
        <a href="profile.php?user_id=2">
            <img src="<?php echo HOME_URL; ?>views\img\icon-default-user.svg" alt="">
        </a>
    </div>
    <div class="content">
        <div class="name">
            <a href="profile.php?user_id=1">
                <span class="nickname">次郎</span>
                <span class="user-name">@jiro ・24日前</span>
            </a>
        </div>
            <p>コワーキングスペースをオープンしました!</p>
            <img src="<?php echo HOME_URL; ?>views\img_uploaded\tweet\sample-post.jpg" alt="" class="post-image">
        <div class="icon-list">
            <div class="like">
                <img src="<?php echo HOME_URL; ?>views\img\icon-heart-twitterblue.svg" alt="">
            </div>
            <div class="like-count">1</div>
        </div>
    </div>
</div>